<!-- Modal -->
<div class="modal fade" id="cast_create_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold title_status">New</span>
                    <span class="fw-light">Row</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small">Create a new row using this form, make sure you fill them all</p>
                <form id="cast_create_form" enctype="multipart/form-data" method="post">

                <div class="row">
                    <input id="id" type="hidden" name="id">

                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Gender</label>
                            <input id="gender" type="text" class="form-control" name="gender"
                                   placeholder="fill gender">
                        </div>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="form-group form-group-default">
                            <label>Known For Department</label>
                            <input id="known_for_department" type="text" class="form-control" name="known_for_department"
                                   placeholder="fill infor">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Original Name</label>
                            <input id="original_name" type="text" class="form-control" name="original_name"
                                   placeholder="fill original_name">
                        </div>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="form-group form-group-default">
                            <label>Popularity</label>
                            <input id="popularity" type="text" class="form-control" name="popularity"
                                   placeholder="fill popularity">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Profile Path</label>

                            <input type="file" name="img" id="img"/>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Character</label>
                            <input id="character" type="text" class="form-control" name="character"
                                   placeholder="fill character">
                        </div>
                    </div>
                    <button type="submit" id="btnAđd" value="Add" class="btn btn-primary mb-2 ">Add</button>
                    <button type="submit" id="btnUpdate"value="Update" class="btn btn-primary mb-2">Update</button>
                </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //add click
        $(document).on('click', '.page-cast .cast_add_btn', function () {

            $("#cast_create_modal #cast_create_form").attr('action', 'http://localhost:3031/admin/cast/insert');
            $("#cast_create_modal #btnUpdate").hide()
            $("#cast_create_modal #btnAđd").show()
            let modal_cast = $('#cast_create_modal');
            changeModalCast();
            modal_cast.modal('show');
        });

        //edit click
        $(document).on('click', '.cast_list_table .item_action button.edit', function () {
            var item_id = $(this).attr('data-id');
            $("#cast_create_modal #cast_create_form").attr('action', 'http://localhost:3031/admin/cast/update');
            $("#cast_create_modal #btnAđd").hide()
            $("#cast_create_modal #btnUpdate").show()

            if(item_id) {
                let modal_cast = $('#cast_create_modal');
                //clear data in modal
                changeModalCast(true);

                //update id value
                modal_cast.find('input#id').val(item_id);
                modal_cast.modal('show');

                getDataCast(item_id);
            }
        });

        $(document).on('click', '.cast_list_table .item_action button.delete', function () {
            var item_id = $(this).attr('data-id');

            $.ajax({
                url: '/admin/cast/delete',
                type: 'POST',
                dataType : 'json',
                data: {
                    _id :item_id
                }
            })
                .done(function (data) {
                    window.location.href = '/admin/cast';

                })

        });


        //insert/update cast
        $(document).on('click', '#cast_create_modal button#addRowButton', function () {
            let modal_cast = $('#cast_create_modal');
            var item_id = modal_cast.find('input#id').val(),
                is_update = item_id ? true : false;

            //create
            if(!is_update) {


            } else {

            }
        });


        //call data by id
        function getDataCast(id) {
            if(id) {
                $.ajax({
                    url: '/admin/cast/getItem',
                    type: 'POST',
                    dataType : 'json',
                    data: {
                        id: id
                    }
                })
                    .done(function (data) {
                        let modal_cast = $('#cast_create_modal');
                        if(data.gender) {
                            modal_cast.find('input#gender').val(data.gender);
                        }
                        if(data.known_for_department) {
                            modal_cast.find('input#known-for-department').val(data.known_for_department);
                        }
                        if(data.original_name) {
                            modal_cast.find('input#original-name').val(data.original_name);
                        }
                        if(data.popularity) {
                            modal_cast.find('input#popularity').val(data.popularity);
                        }
                        if(data.profile_path) {
                            modal_cast.find('input#profile-path').val(data.profile_path);
                        }

                        if(data.character) {
                            modal_cast.find('input#character').val(data.character);
                        }

                    })
                    .fail(function (error) {
                        console.log('error:', error.message);
                    });
            }
        }

        //change status modal insert/update cast
        function changeModalCast(is_update) {
            let modal_cast = $('#cast_create_modal'),
                label = 'Add';
            modal_cast.find('input').val('');

            if(is_update) {
                label = 'Update';
            }
            modal_cast.find('.title_status, #addRowButton').html(label);
        }
    });
</script>