<!-- Modal -->
<div class="modal fade" id="cast_create_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
                    <span class="fw-mediumbold title_status">New</span>
                    <span class="fw-light">Row</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small">Create a new row using this form, make sure you fill them all</p>
                <div class="row">
                    <input id="id" type="hidden">

                    <div class="col-sm-12">
                        <div class="form-group form-group-default">
                            <label>Name</label>
                            <input id="name" type="text" class="form-control" name="name"
                                   placeholder="fill name">
                        </div>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="form-group form-group-default">
                            <label>Adult</label>
                            <input id="adult" type="text" class="form-control" name="adult"
                                   placeholder="Adult or not">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Gender</label>
                            <input id="gender" type="text" class="form-control" name="gender"
                                   placeholder="fill gender">
                        </div>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="form-group form-group-default">
                            <label>Known For Department</label>
                            <input id="known_for_department" type="text" class="form-control" name="known_for_department"
                                   placeholder="fill infor">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Original Name</label>
                            <input id="original_name" type="text" class="form-control" name="original_name"
                                   placeholder="fill original_name">
                        </div>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="form-group form-group-default">
                            <label>Popularity</label>
                            <input id="popularity" type="text" class="form-control" name="popularity"
                                   placeholder="fill popularity">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Profile Path</label>
                            <input id="profile_path" type="text" class="form-control" name="profile_path"
                                   placeholder="fill profile_path">
                        </div>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="form-group form-group-default">
                            <label>Cast Id</label>
                            <input id="cast_id" type="text" class="form-control" name="cast_id"
                                   placeholder="fill cast_id">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Character</label>
                            <input id="character" type="text" class="form-control" name="character"
                                   placeholder="fill character">
                        </div>
                    </div>
                    <div class="col-md-6 pr-0">
                        <div class="form-group form-group-default">
                            <label>Credit ID</label>
                            <input id="credit_id" type="text" class="form-control" name="credit_id"
                                   placeholder="fill credit_id">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-default">
                            <label>Order</label>
                            <input id="order" type="text" class="form-control" name="order"
                                   placeholder="fill order">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-bd">
                <button type="button" id="addRowButton" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //add click
        $(document).on('click', '.page-cast .cast_add_btn', function () {
            let modal_cast = $('#cast_create_modal');
            changeModalcast();
            modal_cast.modal('show');
        });

        //edit click
        $(document).on('click', '.cast_list_table .item_action button.edit', function () {
            var item_id = $(this).attr('data-id');


            if(item_id) {
                let modal_cast = $('#cast_create_modal');
                //clear data in modal
                changeModalcast(true);

                //update id value
                modal_cast.find('input#id').val(item_id);
                modal_cast.modal('show');

                getDatacast(item_id);
            }
        });

        $(document).on('click', '.cast_list_table .item_action button.delete', function () {
            var item_id = $(this).attr('data-id');

            $.ajax({
                url: '/admin/cast/delete',
                type: 'POST',
                dataType : 'json',
                data: {
                    _id :item_id
                }
            })
                .done(function (data) {
                    window.location.href = '/admin/cast';

                })

        });


        //insert/update cast
        $(document).on('click', '#cast_create_modal button#addRowButton', function () {
            let modal_cast = $('#cast_create_modal');
            var item_id = modal_cast.find('input#id').val(),
                is_update = item_id ? true : false;

            //create
            if(!is_update) {
                //create cast item
                var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';
                // $('#add-row').dataTable().fnAddData([
                //     $("#name").val(),
                //     $("#country").val(),
                //     $("#logo").val(),
                //     action
                // ]);
                $.ajax({
                    url: '/admin/cast/insert',
                    type: 'POST',
                    data: {
                        name: $("#cast_create_modal #name").val(),
                        adult: $("#cast_create_modal #adult").val(),
                        gender: $("#cast_create_modal #gender").val(),
                        known_for_department: $("#cast_create_modal #known_for_department").val(),
                        original_name: $("#cast_create_modal #original_name").val(),
                        popularity: $("#cast_create_modal #popularity").val(),
                        profile_path: $("#cast_create_modal #profile_path").val(),
                        cast_id: $("#cast_create_modal #cast_id").val(),
                        character: $("#cast_create_modal #character").val(),
                        credit_id: $("#cast_create_modal #credit_id").val(),
                        order: $("#cast_create_modal #order").val()
                    }
                }).done(function (data) {
                    console.log(data)
                    $('#cast_create_modal #addRowModal').modal('hide');
                    let cast_template = $('.page-cast .template');

                    let cast_row = cast_template.find('table tr').clone();
                    cast_row.find('.item_name').html(data.name);
                    cast_row.find('.item_adult').html(data.adult);
                    cast_row.find('.item_gender').html(data.gender);
                    cast_row.find('.item_known-for-department').html(data.known_for_department);
                    cast_row.find('.item_original-name').html(data.original_name);
                    cast_row.find('.item_popularity').html(data.popularity);
                    cast_row.find('.item_profile-path').html(data.profile_path);
                    cast_row.find('.item_cast-id').html(data.cast_id);
                    cast_row.find('.item_character').html(data.character);
                    cast_row.find('.item_credit-id').html(data.credit_id);
                    cast_row.find('.item_order').html(data.order);
                    cast_row.find('.item_action button').attr('data-id', data._id);

                    $('.page-cast .cast_list_table tbody').prepend(cast_row);
                    modal_cast.modal('hide');
                });

            } else {
                //update
                $.ajax({
                    url: '/admin/cast/update',
                    type: 'POST',
                    dataType : 'json',
                    data: {
                        id: item_id,
                        name: modal_cast.find("input#name").val(),
                        adult: modal_cast.find("input#adult").val(),
                        gender: modal_cast.find("input#gender").val(),
                        known_for_department: modal_cast.find("input#known_for_department").val(),
                        original_name: modal_cast.find("input#original_name").val(),
                        popularity: modal_cast.find("input#popularity").val(),
                        profile_path: modal_cast.find("input#profile_path").val(),
                        cast_id: modal_cast.find("input#cast_id").val(),
                        character: modal_cast.find("input#character").val(),
                        credit_id: modal_cast.find("input#credit_id").val(),
                        order: modal_cast.find("input#order").val()
                    }
                })
                    .done(function (data) {
                        modal_cast.modal('hide');

                        //update to view
                        let item_update_box = $('.cast_list_table tr .edit[data-id="' + item_id + '"]').parents('tr');
                        item_update_box.find('.item_name').html(data.name);
                        item_update_box.find('.item_adult').html(data.adult);
                        item_update_box.find('.item_gender').html(data.gender);
                        item_update_box.find('.item_known-for-department').html(data.known_for_department);
                        item_update_box.find('.item_original-name').html(data.original_name);
                        item_update_box.find('.item_popularity').html(data.popularity);
                        item_update_box.find('.item_profile-path').html(data.profile_path);
                        item_update_box.find('.item_cast-id').html(data.cast_id);
                        item_update_box.find('.item_character').html(data.character);
                        item_update_box.find('.item_credit-id').html(data.credit_id);
                        item_update_box.find('.item_order').html(data.order);

                    })
                    .fail(function (error) {
                        console.log('error:', error.message);
                        modal_cast.modal('hide');
                    });
            }
        });


        //call data by id
        function getDatacast(id) {
            if(id) {
                $.ajax({
                    url: '/admin/cast/getItem',
                    type: 'POST',
                    dataType : 'json',
                    data: {
                        id: id
                    }
                })
                    .done(function (data) {
                        let modal_cast = $('#cast_create_modal');
                        if(data.name) {
                            modal_cast.find('input#name').val(data.name);
                        }
                        if(data.adult) {
                            modal_cast.find('input#adult').val(data.adult);
                        }
                        if(data.gender) {
                            modal_cast.find('input#gender').val(data.gender);
                        }
                        if(data.known_for_department) {
                            modal_cast.find('input#known-for-department').val(data.known_for_department);
                        }
                        if(data.original_name) {
                            modal_cast.find('input#original-name').val(data.original_name);
                        }
                        if(data.popularity) {
                            modal_cast.find('input#popularity').val(data.popularity);
                        }
                        if(data.profile_path) {
                            modal_cast.find('input#profile-path').val(data.profile_path);
                        }
                        if(data.cast_id) {
                            modal_cast.find('input#cast-id').val(data.cast_id);
                        }
                        if(data.character) {
                            modal_cast.find('input#character').val(data.character);
                        }
                        if(data.credit_id) {
                            modal_cast.find('input#credit-id').val(data.credit_id);
                        }
                        if(data.order) {
                            modal_cast.find('input#order').val(data.order);
                        }
                    })
                    .fail(function (error) {
                        console.log('error:', error.message);
                    });
            }
        }

        //change status modal insert/update cast
        function changeModalcast(is_update) {
            let modal_cast = $('#cast_create_modal'),
                label = 'Add';
            modal_cast.find('input').val('');

            if(is_update) {
                label = 'Update';
            }
            modal_cast.find('.title_status, #addRowButton').html(label);
        }
    });
</script>