<!-- Modal -->
<div class="modal fade" id="company_create_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header no-bd">
                <h5 class="modal-title">
					<span class="fw-mediumbold title_status">New</span>
                    <span class="fw-light">Row</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="small">Create a new row using this form, make sure you fill them all</p>
                <form id="company_create_form" enctype="multipart/form-data" method="post">
                    <div class="row">
                        <input id="id" type="hidden" visibility="hidden" name="id">

                        <div class="col-sm-12">
                            <div class="form-group form-group-default">
                                <label>Name</label>
                                <input id="name" type="text" class="form-control" name="name"
                                       placeholder="fill name">
                            </div>
                        </div>
                        <div class="col-md-6 pr-0">
                            <div class="form-group form-group-default">
                                <label>Origin Country</label>
                                <input id="country" type="text" class="form-control" name="origin_country"
                                       placeholder="fill country">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Logo Path</label>
                                <input type="file"  name="img" id="img"/>
                            </div>
                        </div>

                        <button type="submit" id="btnAđd" value="Add" class="btn btn-primary mb-2 ">Add</button>
                        <button type="submit" id="btnUpdate"value="Update" class="btn btn-primary mb-2">Update</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer no-bd">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //add click
        $(document).on('click', '.page-company .company_add_btn', function () {
            $("#company_create_modal #company_create_form").attr('action', 'http://localhost:3031/admin/company/insert');
            $("#company_create_modal #btnUpdate").hide()
            $("#company_create_modal #btnAđd").show()
            let modal_company = $('#company_create_modal');
            changeModalCompany();
            modal_company.modal('show');
        });

        //edit click
        $(document).on('click', '.company_list_table .item_action button.edit', function () {
            var item_id = $(this).attr('data-id');
            $("#company_create_modal #company_create_form").attr('action', 'http://localhost:3031/admin/company/update');
            $("#company_create_modal #btnAđd").hide()
            $("#company_create_modal #btnUpdate").show()

            if(item_id) {
                let modal_company = $('#company_create_modal');
                //clear data in modal
                changeModalCompany(true);

                //update id value
                modal_company.find('input#id').val(item_id);
                modal_company.modal('show');

                getDataCompany(item_id);
            }
        });

        $(document).on('click', '.company_list_table .item_action button.delete', function () {
            var item_id = $(this).attr('data-id');

            $.ajax({
                url: '/admin/company/delete',
                type: 'POST',
                dataType : 'json',
                data: {
                   _id :item_id
                }
            })
                .done(function (data) {
                     window.location.href = '/admin/company';

                })

        });


        //insert/update company
        $(document).on('click', '#company_create_modal button#addRowButton', function () {
            let modal_company = $('#company_create_modal');
            var item_id = modal_company.find('input#id').val(),
                is_update = item_id ? true : false;

            //create
            if(!is_update) {

            } else {
                //update
            //     $.ajax({
            //         url: '/admin/company/update',
            //         type: 'POST',
            //         dataType : 'json',
            //         data: {
            //             id: item_id,
            //             name: modal_company.find('input#name').val(),
            //             logo_path: modal_company.find('input#logo').val(),
            //             origin_country: modal_company.find('input#country').val(),
            //         }
            //     })
            //         .done(function (data) {
            //             modal_company.modal('hide');
            //
            //             //update to view
            //             let item_update_box = $('.company_list_table tr .edit[data-id="' + item_id + '"]').parents('tr');
            //             item_update_box.find('.item_name').html(data.name);
            //             item_update_box.find('.item_country').html(data.origin_country);
            //             // item_update_box.find('.item_img img').attr('src', data.logo_path);
            //
            //         })
            //         .fail(function (error) {
            //             console.log('error:', error.message);
            //             modal_company.modal('hide');
            //         });
             }
        });


        //call data by id
        function getDataCompany(id) {
            if(id) {
                $.ajax({
                    url: '/admin/company/getItem',
                    type: 'POST',
                    dataType : 'json',
                    data: {
                        id: id
                    }
                })
                    .done(function (data) {
                        let modal_company = $('#company_create_modal');
                        if(data.name) {
                            modal_company.find('input#name').val(data.name);
                        }
                        if(data.name) {
                            modal_company.find('input#country').val(data.origin_country);
                        }
                        if(data.logo_path) {
                            modal_company.find('input#logo').val(data.logo_path);
                        }
                    })
                    .fail(function (error) {
                        console.log('error:', error.message);
                    });
            }
        }

        //change status modal insert/update company
        function changeModalCompany(is_update) {
            let modal_company = $('#company_create_modal'),
                label = 'Add';
            modal_company.find('input').val('');

            if(is_update) {
                label = 'Update';
            }
            modal_company.find('.title_status, #addRowButton').html(label);
        }
    });
</script>